# 조건문

In [6]:
x = int(input())

9

In [8]:
if x == 10:
    print('x값은')
    print('10입니다.')
print('언제나 출력됩니다.')

언제나 출력됩니다.

In [9]:
if x > 8 and x < 12:
    print('x값은 8보다는 크고 12보다는 작습니다.')

x값은 8보다는 크고 12보다는 작습니다.

In [10]:
if 8 < x < 12:
    print('x값은 8보다는 크고 12보다는 작습니다.')

x값은 8보다는 크고 12보다는 작습니다.

### if ~ else

In [11]:
x = int(input())

if x % 2 == 0:
    y = 'even'
else:
    y = 'odd'
print(y)

3
odd

### 3항 연산자

In [12]:
x = int(input())
y = 'even' if x % 2 == 0 else 'odd'
print(y)

4
even

### if ~ elif ~ elif ~ else ~

In [15]:
# Fizz-Buzz : 3의 배수면 Fizz, 5의 배수면 Buzz, 15의 배수면 FizzBuzz, 아니면 숫자를 출력
x = int(input())
if x % 3 == 0:
    print('Fizz')
elif x % 5 == 0:
    print('Buzz')
elif x % 15 == 0:
    print('FizzBuzz')
else:
    print(x)

15
Fizz

In [16]:
x = int(input())
if x % 15 == 0:
    print('FizzBuzz')
elif x % 5 == 0:
    print('Buzz')
elif x % 3 == 0:
    print('Fizz')
else:
    print(x)

15
FizzBuzz

In [20]:
x = int(input())
print('Fizz'*(x % 3 == 0) + 'Buzz'*(x % 5 == 0) or x)

4
4