# 반복문

### for 반복문 - 횟수를 아는 경우 사용

In [1]:
sum([1,2,3])

6

In [3]:
2 in [1, 2, 3]

True

In [6]:
sum_1_10 = 0
for i in range(1, 11):
    sum_1_10 += i
print(sum_1_10)

55

In [10]:
product = 1
for i in range(1, 11):
    product *= i
print(product)

3628800

### while 반복문 - 횟수를 모를 때

In [14]:
import random
random.seed(2021)

In [15]:
dice = 0
while True:
    i = random.randint(1, 6)
    dice += i
    print(i)
    if i == 6:
        break               # 한단계 밖으로 탈출
print(dice)

4
6
10

### 중첩 for 반복문

In [16]:
# 구구단
print('-' * 50)
for i in range(2, 10):
    for k in range(1, 10):
        print(f'{i} * {k} = {i*k}')
    print('-' * 50)

--------------------------------------------------
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
--------------------------------------------------
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
--------------------------------------------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
--------------------------------------------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
--------------------------------------------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
--------------------------------------------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
--------------------------------------------------
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
--------------------------------------------------
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
--------------------------------------------------

In [17]:
# 별모양 그리기
for i in range(1, 6):       # range(1, 6, 1)
    for k in range(i):      # range(0, i, 1)
        print('*', end='')
    print()

*
**
***
****
*****

In [20]:
for i in range(5, 0, -1):
    for k in range(i):
        print('*', end='')
    print()

*****
****
***
**
*

In [21]:
for elem in ['apple', 'banana', 'cherry']:
    print(elem)

apple
banana
cherry

In [22]:
for c in 'string':
    print(c)

s
t
r
i
n
g