# 튜플과 딕셔너리

### 튜플(tuple)

In [1]:
t = (1, 2, 3)
type(t)

tuple

In [2]:
t = 3, 4            # 소괄호는 생략 가능
t

(3, 4)

In [3]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [4]:
# 튜플은 값을 변경시킬 수 없음
t[0] = 5

TypeError: ignored

In [7]:
# element 하나인 튜플
single = (3,)
type(single)

tuple

In [8]:
l = [3, 4]
l[0] = 300
l

[300, 4]

### 딕셔너리

In [9]:
scores = {'kor':85, 'eng':90, 'math':100} 
members = {'name':'홍길동', 'age':25, 'phone':'010-3787-3146'}

In [10]:
members

{'age': 25, 'name': '홍길동', 'phone': '010-3787-3146'}

- 값 추출

In [11]:
scores['math'], members['name']

(100, '홍길동')

- 값 할당

In [12]:
scores['kor'] = 95
scores

{'eng': 90, 'kor': 95, 'math': 100}

- 딕셔너리와 반복문

In [13]:
members.keys()

dict_keys(['name', 'age', 'phone'])

In [15]:
for key in members.keys():
    print(f'{key}: {members[key]}')

name: 홍길동
age: 25
phone: 010-3787-3146

In [16]:
for key, value in members.items():
    print(key, value)

name 홍길동
age 25
phone 010-3787-3146

In [17]:
# 리스트의 딕셔너리
import pandas as pd
df = pd.DataFrame({
    'name': ['홍길동','성춘향'],
    'age': [25, 16],
    'phone': ['010-3787-3146', '010-2345-6789']
})
df

  name  age          phone
0  홍길동   25  010-3787-3146
1  성춘향   16  010-2345-6789

In [18]:
# 딕셔너리의 리스트
member_list = [
    {'name':'홍길동', 'age':25, 'phone':'010-3787-3146'},
    {'name':'성춘향', 'age':16, 'phone':'010-2345-6789'}
]
df = pd.DataFrame(member_list)

In [19]:
df

  name  age          phone
0  홍길동   25  010-3787-3146
1  성춘향   16  010-2345-6789