# 함수

In [1]:
def hello():
    print('Hello')

In [2]:
hello()

Hello

In [3]:
import math
math.sqrt(4)

2.0

In [4]:
def hello2():
    print('안녕하세요')

In [5]:
hello2()

안녕하세요

In [6]:
hello()
hello2()

Hello
안녕하세요

### 매개변수(Argument, Parameter)

In [7]:
def new_hello(lang):
    if lang == 'en':
        print('Hello')
    elif lang == 'ko':
        print('안녕하세요')
    else:
        print('Not implemented yet!')

In [8]:
new_hello('en')

Hello

In [9]:
new_hello('ko')

안녕하세요

In [10]:
new_hello('fr')

Not implemented yet!

In [12]:
print(1,2,3,4,5,6, sep=', ')

1, 2, 3, 4, 5, 6

### 함수값의 반환

In [13]:
def circle_area(radius):
    area = math.pi * radius * radius
    return area

In [16]:
radius = int(input('원의 반지름을 입력하세요> '))
result = circle_area(radius)
print(f'반지름: {radius}, 원의 면적: {result:.2f}')

원의 반지름을 입력하세요> 4
반지름: 4, 원의 면적: 50.27

In [17]:
def circle_info(r):
    area = r * r * math.pi
    circumference = 2 * r * math.pi
    return area, circumference

In [18]:
radius = int(input('원의 반지름을 입력하세요> '))
a, b = circle_info(radius)
print(f'반지름: {radius}, 원의 면적: {a:.2f}, 원의 둘레: {b:.2f}')

원의 반지름을 입력하세요> 10
반지름: 10, 원의 면적: 314.16, 원의 둘레: 62.83

### 익명 함수(lambda function)

In [19]:
sq = lambda x: x**2
sq(5)

25

In [20]:
list(map(lambda x: x**3, [1,2,3]))

[1, 8, 27]

In [21]:
def triple(x):
    return x**3

In [22]:
list(map(triple, [1,2,3]))

[1, 8, 27]

### 재귀 호출(Recursive call)

In [23]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [24]:
factorial(5)

120

In [25]:
def fibo(n):
    if n == 0 or n == 1:
        return 1
    return fibo(n-1) + fibo(n-2)

In [27]:
for i in range(10):
    print(f'fibo({i}) = {fibo(i)}')

fibo(0) = 1
fibo(1) = 1
fibo(2) = 2
fibo(3) = 3
fibo(4) = 5
fibo(5) = 8
fibo(6) = 13
fibo(7) = 21
fibo(8) = 34
fibo(9) = 55

### 지역변수, 전역변수

In [29]:
# 함수내에 x 변수를 만들지 않았으므로, x는 전역변수
def gl():
    print(x)

In [30]:
x = 10
gl()

10

In [31]:
# 함수내에 x 변수를 만들었으므로, x는 지역변수
def gl2():
    x = 5
    print(x)

In [32]:
x = 10
gl2()
print(x)

5
10

### 3자리 숫자 두개를 곱해서 만든 수 중에서 최대 대칭수(Palindrome)를 찾으세요.

In [33]:
def is_palindrome(s):
    return s == s[::-1]

In [36]:
max_pal, max_x, max_y = 0, 0, 0
for i in range(100, 1000):
    for k in range(i, 1000):
        mul = i * k
        if is_palindrome(str(mul)):
            if mul > max_pal:
                max_pal, max_x, max_y = mul, i, k

print(max_pal, max_x, max_y)

906609 913 993