# Pandas

In [2]:
import numpy as np
import pandas as pd

## Series

In [3]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
              index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

- 시리즈의 속성

In [4]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [5]:
s.values

array([9904312, 3448737, 2890451, 2466052])

- 인덱싱

In [6]:
s[0]

9904312

In [7]:
s['서울']

9904312

In [8]:
s.서울

9904312

- 슬라이싱

In [9]:
s[0:2]

서울    9904312
부산    3448737
dtype: int64

In [10]:
s['서울':'인천']

서울    9904312
부산    3448737
인천    2890451
dtype: int64

In [11]:
s[::2]

서울    9904312
인천    2890451
dtype: int64

In [12]:
s[[1,3]]

부산    3448737
대구    2466052
dtype: int64

- 연산

In [13]:
s / 1000000

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

- 시리즈와 딕셔너리

In [14]:
for index in s.index:
    print(f'{index}: {s[index]}')

서울: 9904312
부산: 3448737
인천: 2890451
대구: 2466052

In [17]:
d = {'서울':9631482, '부산':3393191, '인천':2632035, '대전':1490158}
for key in d.keys():
    print(f'{key}: {d[key]}')

서울: 9631482
부산: 3393191
인천: 2632035
대전: 1490158

In [18]:
s2 = pd.Series(d)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

- 인덱스 기반 연산

In [19]:
# np.nan, np.inf 은 실수
s - s2

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

- 시리즈의 메소드

In [20]:
s.count()

4

In [21]:
len(s)

4

In [22]:
s3 = pd.Series(['수도권','영남권','수도권','영남권'],
               index=["서울", "부산", "인천", "대구"])
s3

서울    수도권
부산    영남권
인천    수도권
대구    영남권
dtype: object

In [23]:
# 카테고리 갯수 세기
s3.value_counts()

영남권    2
수도권    2
dtype: int64

In [24]:
s3.unique()

array(['수도권', '영남권'], dtype=object)

In [25]:
s3.nunique()

2

In [26]:
s.sum()

18709552

In [27]:
s.mean()

4677388.0

In [29]:
ss = s.sort_index()
ss

대구    2466052
부산    3448737
서울    9904312
인천    2890451
dtype: int64

In [30]:
ss.sort_values()

대구    2466052
인천    2890451
부산    3448737
서울    9904312
dtype: int64

In [31]:
ss.sort_values(ascending=False)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [32]:
ss

대구    2466052
부산    3448737
서울    9904312
인천    2890451
dtype: int64

In [33]:
# ss 자체를 변화시키려면 inplace=True 를 해주어야 함
ss.sort_values(inplace=True)
ss

대구    2466052
인천    2890451
부산    3448737
서울    9904312
dtype: int64