# Pandas

In [1]:
import numpy as np
import pandas as pd

## 데이터프레임

### 생성

In [2]:
data = {
    '국어': [80, 90, 70, 30],
    '영어': [90, 70, 60, 40],
    '수학': [90, 60, 80, 70]
}
index = ['춘향','몽룡','향단','방자']
df = pd.DataFrame(data=data, index=index)

In [3]:
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [4]:
np.random.seed(2021)
data = np.random.randint(40, 100, 12).reshape(4,3)
columns = ['국어','영어','수학']
df2 = pd.DataFrame(data, index=index, columns=columns)
df2

    국어  영어  수학
춘향  92  61  97
몽룡  40  85  70
향단  62  84  67
방자  69  61  69

In [5]:
df3 = pd.DataFrame(data)
df3.index = index
df3.columns = columns
df3

    국어  영어  수학
춘향  92  61  97
몽룡  40  85  70
향단  62  84  67
방자  69  61  69

### 파일 입출력